<?xml version="1.0" ?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
        <!--MySQL JDBC Driver connection -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/BankingDWH</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">9999</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="use_outer_join">true</property>
        <mapping package="finance.product.entity" />
        <mapping class="finance.product.entity.Trade" />
        <mapping class="finance.product.entity.Leg" />
        <mapping class="finance.product.entity.Cashflow" />
        <mapping class="finance.product.entity.Reset" />

    </session-factory>
</hibernate-configuration>